@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --DARK-PURPLE: #7440c8;
    --LIGHT-PURPLE: #AC9FF8;
    --WHITE: #FFFFFF;
    --BLACK: #1E1C1C;
    --GRAY: #BABABA;
    --FONT: 'Satoshi', sans-serif;
    --ROBOTO: 'Roboto', sans-serif;
}

html {
    font-family: var(--FONT);
}

body {
    margin-inline: 250px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

.main-container {
    display: flex;
    flex-direction: column;
}



/*==============*/